name: Node.js CI - Prod

on:
  push:
    branches: ['main']

jobs:
  build:
    runs-on: prod

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Stop App
        run: pm2 stop app || true

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Disable Husky Hooks
        run: git config core.hooksPath /dev/null

      - name: Set Up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Yarn
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/yarn
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Compile Code
        run: yarn compile

      - name: Restart App
        run: pm2 restart app || true
